# FRONTEND (WEB)
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# BACKEND (API)
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=lien
DATABASE_SYNC=true

# CLEANVERSE (sandbox)
CLEANVERSE_DOCS_URL=https://docs.cleanverse.com
CLEANVERSE_DOCS_ACCESS_CODE=
CLEANVERSE_BASE_URL=https://uatapi.cleanverse.com/api/cooperate
CLEANVERSE_API_ID=
CLEANVERSE_API_KEY=
